<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.geek.geekAllProductSearch.mapper.GeekAllProductSearchMapper">
    <delete id="deleteTable"  >
		delete		FROM  geek_all_product_search
	</delete>

    <delete id="deleteOtherInfo">
		delete FROM geek_all_product_search where path1 like '%食物%' or path1 like '%医疗%' or path1 like '%保健%';
	</delete>
</mapper>