jeecg-boot/jeecg-boot-base/jeecg-boot-base-api/jeecg-system-cloud-api/target/
jeecg-boot/jeecg-boot-base/jeecg-boot-base-core/target/
jeecg-boot/jeecg-boot-module-demo/target/
jeecg-boot/jeecg-boot-module-system/target/
logs/
jeecg-boot/jeecg-boot-base/jeecg-boot-base-tools/target/
jeecg-boot/jeecg-boot-base/jeecg-boot-base-api/jeecg-system-local-api/target/
*.zip
